/* Initially, header is blurred and semi-transparent */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 8, 26, 0.5); /**Black with 50% opacity */
    /* background-color: rgba(10, 41, 85, 0.5); */
    backdrop-filter: blur(5px); /* Blur effect */
    /* -webkit-backdrop-filter: blur(3.5px); */
    z-index: 9999; /* Adjust as needed */
}

/* When scrolled down, header is hidden */
header.hidden {
    transform: translateY(-100%);
}

/* When scrolled up, header is visible */
header.visible {
    transform: translateY(0);
}

/* Change background color when scrolled up */
header.scroll-up {
    background-color: rgba(0, 0, 0, 0.8); /* Darker color when scrolled up */
}
